@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

@import "styles/partitions/navbar.css";
@import "styles/partitions/homepage.css";
@import "styles/partitions/apply-to-coach.css";
/* Apply a Google Font for a more stylish look */

.start-your-journey {
  background-image: url("/Applications/Find_Surfing_Lessons/find-surfing-lessons/front-end/public/images/home-page-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; /* Adjusted height for better responsiveness */
}

.start-your-journey h1 {
  text-align: center;
  padding-top: 2rem;
}
.start-your-journey-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Responsive grid */
  gap: 5rem; /* Increased gap between cards for better spacing */
  padding: 2rem; /* Added padding around the grid */
  margin: 0 auto; /* Center the grid container */
  max-width: 1200px;
  justify-items: center;
  align-items: center;
}

.start-your-journey-container h1 {
  text-align: center;
}
.coach-card {
  border: 2px solid rgba(0, 119, 190, 0.8);
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Slightly more opaque background */
  padding: 1.5rem; /* Increased padding for better content spacing */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Softer shadow for depth */
  text-align: center;
  color: black;
  line-height: 1.6;
  transition: transform 0.3s, box-shadow 0.3s; /* Added transition for hover effect */
  width: 100%;
}

.coach-card:hover {
  transform: translateY(-5px); /* Lift effect on hover */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Deeper shadow on hover */
}

@media (max-width: 768px) {
  .header {
    display: block;
    text-align: center;
    margin-left: 0; /* Remove margin for small screens */
    margin-right: 0; /* Remove margin for small screens */
  }

  .header-tags {
    display: block;
    text-align: center; /* Center the header tags */
    margin: 0 auto; /* Center the block horizontally */
  }

  .header-tags h3 {
    margin: 1rem 0; /* Adjust spacing for small screens */
  }

  .home-page {
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center content horizontally */
    justify-content: center;
    text-align: center; /* Center text */
  }

  .home-page-text {
    margin-left: 1rem; /* Remove margin for small screens */
    margin-right: 1rem; /* Add some margin on the right for small screens */
    text-align: center; /* Center text inside home-page-text */
  }

  .home-page-text h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  .surf-lesson-image img {
    margin-top: -10rem;
    height: 15rem;
    width: 20rem;
  }
}
